<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
  <title>Political Zoo</title>
</head>
<body>
  <header>
    <nav>
      <span class='title'>
        <img src="/images/elephant.png" />
        Political Zoo
        <img src="/images/donkey.png" />
      </span>
      <span id="navbar-links-left">
        <ul>
          <span class='color-lines2'><li><a href="/">Home</a></li></span>
          <span class='color-lines'><li>|</li></span>
          <span class='color-lines2'><li><a href="">Comments</a></li></span>
          <span class='color-lines'><li>|</li></span>
          <span class='color-lines2'><li><a href="">Show</a></li></span>
          <span class='color-lines'><li>|</li></span>
          <span class='color-lines2'><li><a href="">Ask</a></li></span>
          <span class='color-lines'><li>|</li></span>
          <span class='color-lines2'><li><a href="">Jobs</a></li></span>
          <span class='color-lines'><li>|</li></span>
          <span class='color-lines2'><li><a href="">Submit</a></li></span>
        </ul>
      </span>
        <div id="navbar-links-right">
        <ul>
          <li><a href="/">Login</a></li>
        </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="topics">
    form will go here
  </div>
</body>
</html>
